# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Build / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# IDE
.vscode/

# Testing / tooling (optional but common)
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/